﻿body {
	font: 14px "微软雅黑", "宋体", Arial, sans-serif, Verdana, Tahoma;
	padding: 0;
	margin: 0;
}
img{ border-style: none;
    border-color: inherit;
    border-width: medium;
   
}
.cs-north {
	height:60px;
}
.cs-north-bg {
	width: 100%;
	height: 100%;
}
.cs-north-logo {
}
.cs-west {
	width:151px;padding:0px;
	
}
.cs-south {
	height:25px;padding:0px;text-align:left;
}
.cs-tab-menu {
	width:120px;
}